body {
	padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

.slide {
	width: 100%;
	/*height: 100vh;*/
	/*min-height: 650px;*/
	box-sizing: border-box;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navigation {
	height: 48px;
	width: calc(100% - 166px);
	margin: 0 83px 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-icon {
	fill: #356EAD;
}

.menu-icon:hover {
	fill: #1F3F68;
}

.slide-main {
	width: 100%;
	height: 250px;
	background-image: url("../image/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 56px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide-main-info {
	width: 780px;
	margin: 0 10px;
}

.slide-main-title {
	font-size: 44px;
	line-height: 74px;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.slide-main-text {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.4);
}

.search {
	width: 942px;
	margin-bottom: 56px;
	position: relative;
}

.search input {
	outline: none;
	width: 100%;
	height: 56px;
	background: #F4F4F4;
	border-radius: 10px;
	border: none;

	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: rgba(31, 63, 104, 0.6);

	padding-left: 74px;
	padding-right: 10px;
	box-sizing: border-box;
}

.search img {
	opacity: 0.6;
	position: absolute;
	left: 25px;
	top: 16px;
}

.popular, .all {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popular-content {
	width: 942px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popular-content-subtitle {
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #356EAD;
	opacity: 0.8;
	align-self: flex-start;
}

.popular-content-firstblock {
	display: flex;
	justify-content: space-between;
	margin: 32px 0;
}

.popular-content-firstblock-main {
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popular-content-firstblock-main-title {
	font-family: 'Abhaya Libre', sans-serif;
	font-size: 48px;
	line-height: 58px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.popular-content-text {
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.04em;
	color: #000000;
	opacity: 0.6;
}

.popular-other {
	max-width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.popular-other-left-author, .popular-other-left-date {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.bookmark {
	margin-right: 32px;
	fill: #356EAD;
}

.share {
	fill: #356EAD;
}

.bookmark:hover, .share:hover {
	fill: #1F3F68;
}

.popular-other-left-date {
	opacity: 0.4;
}

.popular-content-secondblock {
	display: flex;
	justify-content: space-between;
}

.popular-content-secondblock-article {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popular-content-secondblock-main-title {
	font-family: 'Abhaya Libre', sans-serif;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}

.popular-content-secondblock-article img, .popular-content-secondblock-main > div  {
	margin-bottom: 16px;
}

.popular-content-secondblock-main > div:last-child {
	margin-bottom: 0;
}

.popular-content-all {
	font-size: 16px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #356EAD;
	opacity: 0.8;
	align-self: flex-end;
	margin: 54px 0 24px;
}

.all-content {
	width: 942px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 56px;
}

.all-content-article {
	margin-top: 32px;
	max-width: 859px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.all-content-article img {
	width: 300px;
	height: 200px;
	margin-right: 20px;
}

.all-content-article-main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 200px;
}

.all-content-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 56px 0 96px;
}

.all-content-nav-left, .all-content-nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.all-content-nav-left a, .all-content-nav-right a {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #356EAD;
	text-decoration: none;
}

.all-content-nav-left svg {
	margin-right: 16px;
	fill: #356EAD;
}

.all-content-nav-right svg {
	margin-left: 16px;
	fill: #356EAD;
}

.all-content-nav-left a:hover, .all-content-nav-right a:hover {
	color: #1F3F68;
}

.all-content-nav-left:hover svg, .all-content-nav-right:hover svg {
	fill: #1F3F68;
}



@media screen and (max-width: 1000px) {
	.slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.search {
		margin-left: 10px;
		margin-right: 10px;
		width: calc(100% - 20px);

	}

	.popular-content, .all-content {
		width: calc(100% - 20px);
	}


	
	
}





@media screen and (max-width: 620px) {
	.slide {
		padding: 0;
		min-height: 420px;
	}

	.navigation {
		margin: 0 10px 30px;
		width: calc(100% - 20px);
	}

	.slide-main-title {
		font-size: 35px;
		line-height: 65px;
	}

	.popular-content-firstblock {
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 60px;
	}

	.popular-content-firstblock img, .popular-content-firstblock-main > div {
		margin-bottom: 16px;
	}

	.popular-content-firstblock img {
		width: 300px;
		height: 200px;
	}

	.popular-content-firstblock-main {
		width: 300px;
		margin-right: 0;
	}

	.popular-content-firstblock-main > div:last-child {
		margin-bottom: 0;
	}

	.popular-content-firstblock-main-title {
		font-size: 25px;
		line-height: 35px;
	}
	
	.popular-content-secondblock {
		flex-direction: column;
		align-items: center;
	}

	.popular-content-secondblock-article {
		margin-bottom: 60px;
	}

	.popular-content-secondblock-article:last-child {
		margin-bottom: 0;
	}

	.popular-content-all {
		align-self: flex-start;
	}

	.all-content-article {
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
		width: 300px;
	}

	.all-content {
		align-items: center;
	}

	.all-content-article:last-child {
		margin-bottom: 0;
	}

	.all-content-article img {
		margin-bottom: 16px; 
		margin-right: 0;
	}



}
	



@media screen and (max-width: 1000px) and (min-width: 621px) {
	.popular-content-firstblock {
		flex-direction: row-reverse;
		align-items: center;
		margin-right: 10px;
		margin-left: 10px;
	}

	.popular-content-firstblock img, .popular-content-secondblock img {
		width: 300px;
		height: 200px;
	}

	.popular-content-firstblock-main {
		margin-left: 20px;
		margin-right: 0;
	}

	.popular-content-firstblock-main-title {
		font-size: 25px;
		line-height: 35px;
	}

	.popular-content-secondblock {
		flex-direction: column;
		align-items: center;
		margin-right: 10px;
		margin-left: 10px;
	}

	.popular-content-secondblock-article {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 32px;
	}

	.popular-content-secondblock-article img {
		margin-bottom: 0;
	}

	.popular-content-secondblock-main {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.popular-content-secondblock-main > div {
		margin-bottom: 0;
	}
	

	


}






