body {
	padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

.slide {
	width: 100%;
	/*height: 100vh;*/
	min-height: 650px;
	background: linear-gradient(0deg, rgba(152, 195, 232, 0.5) 8.84%, rgba(152, 195, 232, 0) 31.12%);
	box-sizing: border-box;
	padding-top: 40px;
}

.navigation {
	height: 48px;
	margin: 0 83px 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-icon {
	fill: #356EAD;
}

.menu-icon:hover {
	fill: #1F3F68;
}

.slide-content {
	width: 100%;
	height: calc(100% - 133px);
	padding-left: 212px;
	box-sizing: border-box;
	position: relative;
}

.slide-content * {
	position: relative;
	z-index: 1;
}

.slide-content img {
	position: absolute;
	right: 30px;
	top: 0;
	height: 100%;
	z-index: 0;
}

.slide-content-title {
	width: 510px;
	font-family: 'Abhaya Libre', serif;
	font-size: 58px;
	line-height: 68px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	padding: 55px 0 30px 0;
	margin: 0;
}

.slide-content-subtitle {
	width: 425px;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	opacity: 0.6;
	margin: 0;
}

.slide-content-button {
	width: 220px;
	height: 56px;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	margin-top: 70px;
	outline: none;
	border: none;

	font-size: 15px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.slide-content-button:hover {
	background: #1F3F68;
}

.idea {
	width: 100%;
	display: flex;
	justify-content: center;
}

.idea .container {
	padding: 192px 0;
	width: 942px;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.idea-title {
	width: 360px;
}

.idea-title h2 {
	font-size: 33px;
	line-height: 43px;
	letter-spacing: 0.05em;
	color: #316099;
	margin: 0;
}

.idea-row {
	display: flex;
	justify-content: space-between;
}

.first {
	margin-bottom: 100px;
}

.second {
	margin-left: 60px;
}

.second .idea-form:first-child {
	transform: translateY(calc(-50% - 50px));
}

.idea-form {
	width: 380px;
	height: 525px;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.first-idea-image {
  padding: 48px 40px 0 0;
}

.second-idea-image {
	position: relative;
  top: -20px;
}

.third-idea-image {
	padding: 48px 32px 0 0;
}

.idea-form-info {
	padding: 56px 48px 48px;
	box-sizing: border-box;
}

.idea-form-title h6{
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	margin: 0;
}

.idea-form-text {
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	opacity: 0.6;
	margin-bottom: 32px;
}

.idea-form a {
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #5A98D0;
	text-decoration: none;
	position: relative;
}

.idea-form a svg {
	fill: #5A98D0;
	margin-left: 24px;
	position: absolute;
	top: -4px;
}

.idea-form a:hover {
	color: #1F3F68;
}

.idea-form a:hover svg {
	fill: #1F3F68;
}

.projects {
	width: 100%;
	display: flex;
	justify-content: center;
}

.projects-content {
	width: 942px;
	/*box-sizing: border-box;*/
	position: relative;
	padding-bottom: 192px;
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;*/
}

.projects-content-firstrow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.projects-content-firstrow-title {
	width: 227px;
}

.projects-content-firstrow-title h2 {
	font-size: 33px;
	line-height: 43px;
	letter-spacing: 0.05em;
	color: #316099;
	margin: 0;
}

.projects-content-firstrow-text {
	width: 540px;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #1F3F68;
	opacity: 0.6;
}

.projects-content-secondrow {
	width: 100%;
	height: 417px;
	margin: 96px 0;
	background-image: url("../image/Mask Group.png");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	position: relative;
}

.projects-content-secondrow img {
	position: absolute;
	bottom: 0;
}

.projects-content-secondrow-info {
	position: absolute;
	right: 48px;
	top: 45px;
	text-align: right;
}

.projects-content-secondrow-info h6, .projects-content-thirdrow-info h6 {
	font-size: 28px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	margin: 0 0 10px;
}

.projects-content-secondrow-info p, .projects-content-thirdrow-info p {
	font-size: 15px;
	line-height: 45px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.8;
	margin: 0;
}

.projects-content-thirdrow {
	display: flex;
	justify-content: space-between;
}

.projects-content-thirdrow-left {
	width: 422px;
	height: 417px;
	background-image: url("../image/Mask Group (1).png");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}

.projects-content-thirdrow-right {
	width: 422px;
	height: 417px;
	background-image: url("../image/Mask Group (2).png");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}

.projects-content-thirdrow-info {
	margin: 24px 0 0 32px;
}



@media screen and (max-width: 1000px) {
	.slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.slide-content {
		padding: 0 83px;
		box-sizing: border-box;
	}

	.slide-content img {
		opacity: 0.2;
	}

	.slide-content-title, .slide-content-subtitle {
		width: 100%;
	}

	.slide-content-button {
		margin-top: 40px;
	}

	.idea .container {
		width: 100%;
		padding: 100px 10px;
	}

	.idea-title {
		width: 100%;
		text-align: center;
		padding: 0 20px 20px;
		box-sizing: border-box;
	}

	.idea-row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	.second .idea-form:first-child {
		transform: initial;
	}

	.idea-form {
		margin: 10px 20px;
	}

	.projects-content-firstrow {
		flex-direction: column;
	}

	.projects-content-firstrow-title {
		width: 100%;
		text-align: center;
		padding: 0 20px 20px;
		box-sizing: border-box;
	}
	
 	.projects-content-secondrow {
 		margin-right: 10px;
 		margin-left: 10px;
 		width: calc(100% - 20px);
 	}


}

@media screen and (max-width: 620px) {
	.slide {
		padding: 0;
		min-height: 420px;
	}

	.navigation {
		margin: 0 10px 30px;
	}

	.slide-content-title {
		font-size: 30px;
    line-height: 35px;
    padding-top: 20px;
	}

	.slide-content {
		padding: 0 10px;
	}

	.slide-content-button {
		margin-bottom: 30px;
	}

	.idea-form {
		height: initial;
	}

	.projects-content-firstrow-text {
		width: 100%;
		text-align: center;
		padding: 0 20px 20px;
		box-sizing: border-box;
	}

	.projects-content-secondrow {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		margin-top: 50px;
	}

	.projects-content-secondrow img {
		transform: scale(0.7);
		left: -54px;
		bottom: -54px;
	}

	.projects-content-secondrow-info {
		text-align: center;
		right: initial;
	}

	.projects-content-thirdrow {
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.projects-content-thirdrow > div {
		margin: 0 10px 50px;
		width: calc(100% - 20px);
		background-size: cover;
	}

}

@media screen and (max-width: 1000px) and (min-width: 620px) {
	.idea-form {
		width: 100%;
		height: 240px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.idea-form-img {
		min-width: 250px;
	}

	.first-idea-image, .second-idea-image, .third-idea-image {
		padding: 0;
	}

	.second-idea-image {
		position: relative;
		top: 0;
		left: 0;
	}

	.idea-form-info {
		padding: 10px 20px;
	}

	.projects-content-thirdrow > div {
 		width: 45%;
 		margin-right: 10px;
 		margin-left: 10px;
 	}

}


@media screen and (max-width: 420px) {
	.idea-form {
		width: 100%;
		margin: 10px 20px;
	}


}